/* Import gobal font: Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

* {
  box-sizing: border-box;
  align-content: center;
}

:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors Variables */
  --color-white: #fff;
  --color-gold-light: #f4df56;
  --color-gold-dark: #f2c744;
  --color-brown: #c29c46;
  --color-dark-light: #120f0c;
  --color-dark: #050006;
  --color-gray-light: #eeeded;
}

a {
  font-weight: 500;
  color: var(--color-white);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-gold-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--color-white);
  }
}
